.search-bar {
  border: 2px solid $netnix-red;
  display: flex;
  margin-top: 5px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  position: relative;
  transition: width 300ms cubic-bezier(0.18, 0.89, 0.32, 1.06);
  overflow: hidden;

  &__input {
    flex-grow: 1;
    font-size: 1.2rem;
    padding: 0 0.5em;
    border: 0;
    border-radius: 5px;
    // background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__focus {
    outline: 0;
  }

  &__submit {
    font-size: 1.2rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    color: $netnix-white;
    margin-left: auto;
    transition: 150ms ease-in-out;
  }

  &:focus-within {
    width: 100%;

    .search-bar__input {
      opacity: 1;
      cursor: initial;
      width: calc(100% - 30px);
    }

    .search-bar__submit {
      background: $netnix-red;
      color: $netnix-black;

      &:focus,
      &:hover {
        outline: 0;
        color: $netnix-white;
      }
    }
  }
}
